# Starbucks Icecek verileri

In [1]:
import pandas as pd
import numpy as np

In [2]:
drink = pd.read_csv('veri/starbucks-menu-nutrition-drinks.csv')
drink.head(3)

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-

## Sorular
 - 1. Kalorosi en yuksek icecegi bulun
 - 2. iceceklerin kalorisini histogram ile gosterin

In [27]:
###############################
#Cevaplar
#2.
#f = lambda x: int(x) if x != '-' else 0
#drink['Calories'] = drink['Calories'].apply(f)
#drink['Calories'].hist(bins = 50)
#1.
#drink[drink['Calories'] == drink['Calories'].max()]
###############################

# Unutulmakta Olan Diller

In [63]:
diller = pd.read_csv('veri/endangeredLang.csv')
diller.head(3)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."

In [64]:
# Bazi kolonlari silelim
diller.drop(['Country codes alpha 3', 'Latitude', 'Longitude', 'Description of the location'], axis = 1, inplace = True)

# kolon isimlerini degistirelim
diller.columns = ['ID', 'Dil', 'Ulke','Seviye', 'Kisi']

In [65]:
diller.head(3)

,ID,Dil,Ulke,Seviye,Kisi
0,1022,South Italian,Italy,Vulnerable,7500000.0
1,1023,Sicilian,Italy,Vulnerable,5000000.0
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...",Vulnerable,4800000.0

## Sorular
 - 1. 100 kisiden az kisi tarafindan konusulan diller
 - 2. 100 kisiden az fakat unutulmamis diller
 - 3. Turkiyede unutlmaya yuz tutmus ya da unutulmus diller hangileri

In [102]:
k = 15
print(diller.loc[k])
print('-'*15)
print(diller.Ulke[k].split(','))
print('Turkey' in diller.Ulke[k].split(','))

ID              1985
Dil           Zazaki
Ulke          Turkey
Seviye    Vulnerable
Kisi           2e+06
Name: 15, dtype: object
---------------
['Turkey']
True

In [103]:
###############################
#Cevaplar
#1.
#diller[diller.Kisi < 100]
###############################
#2.
#diller[(diller.Kisi < 100) & (diller.Kisi > 0)]
###############################
#3.
#def t(x, ulke = 'Turkey'):
#    try:
#        return ulke in x.split(',')
#    except:
#        return False
#
#turkey = diller.Ulke.apply(t)
#
#print(turkey.sum())
#diller[turkey]
#
#diller.groupby(['Seviye']).count()
###############################